@media only screen and (min-width : 1200px) {
    .container { max-width: 1500px !important; }
} /*Don't love this... need to keep looking into how to make the container wider within Bootstrap*/

.header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  text-align: center;
  align-content: center;;
}
.header-title {
  font-size: 4rem;
  font-weight: 700;
}
* {
  font-family: 'Hanken Grotesk', sans-serif;
}
.user-image {
   height:250px;
    width:100%;
     object-fit:cover;
   object-position:50% 50%;
}

#time-wrapper {
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 20px;
}

#time-holder {
  margin-top: 10px;
}

#time-holder div {
  margin-bottom: 8px;
}


body {
	background-color: #f5f7fa;
}

.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: 3.25rem;
  border-top-right-radius: 3.25rem;
}

.aqua-gradient {
  background: linear-gradient(40deg, #2096ff, #05ffa3) !important;

}
.day-to-night-gradient {
   background: linear-gradient(40deg, #f8B195, #f67280, #355C7D) !important;
}

.testimonial-card .avatar {
  width: 120px;
  margin-top: -60px;
  overflow: hidden;
  border: 5px solid #fff;
  background: linear-gradient(40deg, #f8B195, #f67280, #355C7D) !important;
}

.avatar {
 border-radius: 50%;
}

.testimonial-card {
  border-radius: 3.25rem !important;
}

#mst-time, #est-time, #cst-time, #pst-time, #cet-time {
  font-weight: 700;
  font-size: 2rem; /*1.25rem for smaller size screens so the line break doesn't occur for 00:00:00 PM/AM format
  /*with 80 is including the alpha value to make the color opaque */
  background-color: #C06C8480;
  color: #fff;
  /* opacity: .5; */
}

#mst-date, #est-date, #cst-date, #pst-date, #cet-date {
  font-weight: 300;
  font-size: 1.25rem;
}

.day-to-night-icon-container {
    width: 59px;
    height: 59px;
    position: relative;
    display: inline-block;
    left: 82%;
    top: 16px;
    /* left: 44%;  (for the white portion of employee card) */
    /* background-color: #87CEEB; Default sky color */
    border-radius: 50%;
    /* background-color: #F8b195;
    background-color: #f67280;
    background-color: #c06c84;
    background-color: #6c5b7b;
    background-color: #35537d; */
    font-size: 1.5rem;
}
.day-to-night-icon-container-list {
    width: 59px;
    height: 59px;
    position: relative;
    display: inline-block;
    left: 74%;
    top: 24px;
    /* left: 44%;  (for the white portion of employee card) */
    /* background-color: #87CEEB; Default sky color */
    border-radius: 50%;
    /* background-color: #F8b195;
    background-color: #f67280;
    background-color: #c06c84;
    background-color: #6c5b7b;
    background-color: #35537d; */
}

.sun {
    width: 50px;
    height: 50px;
    color: #FFD700;
    /* background-color: #FFD700; Default sun color */
    border-radius: 50%;
    position: absolute;
    bottom: 39px;
    left: 60%;
    transform: translateX(-55%);
}

.early-morning {
  position: absolute;
  left: 45%;
  transform: translate(-40%, 25%);
 opacity: .3;
 color: white;
}

.mid-morning {
   position: absolute;
    /* bottom: 120rem; */
    left: 48%;
    transform: translate(50%, 115%);
     opacity: .3;
     color: white;
}

.afternoon {
   position: absolute;
    /* bottom: 39rem; */
    left: 60%;
    /* transform: translate(-36%, 230%); */
    transform: translate(-29%, 230%);
    color: white;
}

.evening {
 position: absolute;
    /* bottom: 39rem; */
    left: 44%;
    transform: translate(-88%, 230%);
    opacity: .3;
    color: white;
}

.night {
   position: absolute;
    /* bottom: 123rem; */
    left: 50%;
    transform: translate(-188%, 115%);
     opacity: .3;
     color: white;
}





/*Calendar Scheduling MEeting*/

/*dropdown*/

*{
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}
.float-right{
  float: right;
}
.fa{
 font-size: .8em;
  line-height: 22px !important;
}
dropdown{
   display: inline-block;
   margin: 20px 50px;
}
dropdown label, dropdown ul li{
  display: block;
  width: px;
  background: #191919;
  opacity: 0.9;
  padding: 15px 20px;
}
dropdown label:hover, dropdown ul li:hover{
  background: #4D4D4D;
  color: white;
  cursor: pointer;
}
dropdown label{
  color: #B2B2B2;
  /*border-left: 4px solid #1ABC9C;*/
  border-radius: 0 5px 0 0;
  position: relative;
  z-index: 2;
}
dropdown input{
  display: none;
}
dropdown input ~ ul{
  position: relative;
  visibility: hidden;
  opacity: 0;
  top: -20px;
  z-index: 1;
}
dropdown input:checked + label{
  background: #4D4D4D;
  color: white;
}

dropdown input:checked ~ ul{
  visibility: visible;
  opacity: 1;
  top: 0;
}
$colors: #FFFFFF, #0072B5, #2C3E50;

@for $i from 1 through length($colors) {
  dropdown ul li:nth-child(#{$i}) {
    border-left: 4px solid nth($colors, $i);
    .fa{
      color: nth($colors, $i);
    }
    &:hover {
        background: nth($colors, $i);
        color: white;
      .fa{
        color: white;
      }
    }
  }
}

.animate{
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden; /* Chrome and Safari */
  -moz-backface-visibility:hidden; /* Firefox */
  -ms-backface-visibility:hidden; /* Internet Explorer */
}












/*calendar*/

@import url(https://fonts.googleapis.com/css?family=Lato:300);
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, div, span, h1, h2, h3, p, a, form, nav, li, ul {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}
ul {
	list-style-type: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.monthname {
  width: 18em;

}
.pointer {
  cursor: pointer;
}
body {
  font-family: 'Lato',sans-serif;
  padding: 1em 0;
}
.group:after {
	content: "";
	display: table;
	clear: both;
}
.calendar p {
	margin-bottom: .5em;
	color: #FFFFFF;
}
.calendar {
	background: linear-gradient(40deg, #f8B195, #f67280, #355C7D);
	color: #ddd;
	padding: .5em .5em 1em;
	max-width: 20em;
	min-height: 15em;
	margin: .5em auto;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.calendar li {
	float: left;
	width: -webkit-calc(100%/7);
	text-align: center;
	padding: .25em 0;
	cursor: pointer;
	border-bottom: 1px solid #444;
}
.calendar li:hover, .calendar li.red {
	color: red;
}
.calendar li:nth-child(-n+7) {
	color: #666;
}
.center {
	text-align: center;
}
