@media only screen and (min-width : 1200px) {
    .container { max-width: 1500px !important; }
} /*Don't love this... need to keep looking into how to make the container wider within Bootstrap*/

.header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  text-align: center;
  align-content: center;;
}
.header-title {
  font-size: 4rem;
  font-weight: 700;
}
* {
  font-family: 'Hanken Grotesk', sans-serif;
}
.user-image {
   height:250px;
    width:100%;
     object-fit:cover;
   object-position:50% 50%;
}

#time-wrapper {
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 20px;
}

#time-holder {
  margin-top: 10px;
}

#time-holder div {
  margin-bottom: 8px;
}


body {
	background-color: #f5f7fa;
}

.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: 3.25rem;
  border-top-right-radius: 3.25rem;
}

.aqua-gradient {
  background: linear-gradient(40deg, #2096ff, #05ffa3) !important;

}
.day-to-night-gradient {
   background: linear-gradient(40deg, #f8B195, #f67280, #355C7D) !important;
}

.testimonial-card .avatar {
  width: 120px;
  margin-top: -60px;
  overflow: hidden;
  border: 5px solid #fff;
  background: linear-gradient(40deg, #f8B195, #f67280, #355C7D) !important;
}

.avatar {
 border-radius: 50%;
}

.testimonial-card {
  border-radius: 3.25rem !important;
}

#mst-time, #est-time, #cst-time, #pst-time, #cet-time {
  font-weight: 700;
  font-size: 2rem; /*1.25rem for smaller size screens so the line break doesn't occur for 00:00:00 PM/AM format
  /*with 80 is including the alpha value to make the color opaque */
  background-color: #C06C8480;
  color: #fff;
  /* opacity: .5; */
}

#mst-date, #est-date, #cst-date, #pst-date, #cet-date {
  font-weight: 300;
  font-size: 1.25rem;
}

.day-to-night-icon-container {
    width: 59px;
    height: 59px;
    position: relative;
    display: inline-block;
    left: 82%;
    top: 16px;
    /* left: 44%;  (for the white portion of employee card) */
    /* background-color: #87CEEB; Default sky color */
    border-radius: 50%;
    /* background-color: #F8b195;
    background-color: #f67280;
    background-color: #c06c84;
    background-color: #6c5b7b;
    background-color: #35537d; */
    font-size: 1.5rem;
}
.day-to-night-icon-container-list {
    width: 59px;
    height: 59px;
    position: relative;
    display: inline-block;
    left: 74%;
    top: 24px;
    /* left: 44%;  (for the white portion of employee card) */
    /* background-color: #87CEEB; Default sky color */
    border-radius: 50%;
    /* background-color: #F8b195;
    background-color: #f67280;
    background-color: #c06c84;
    background-color: #6c5b7b;
    background-color: #35537d; */
}

.sun {
    width: 50px;
    height: 50px;
    color: #FFD700;
    /* background-color: #FFD700; Default sun color */
    border-radius: 50%;
    position: absolute;
    bottom: 39px;
    left: 60%;
    transform: translateX(-55%);
}

.early-morning {
  position: absolute;
  left: 45%;
  transform: translate(-40%, 25%);
 opacity: .3;
 color: white;
}

.mid-morning {
   position: absolute;
    /* bottom: 120rem; */
    left: 48%;
    transform: translate(50%, 115%);
     opacity: .3;
     color: white;
}

.afternoon {
   position: absolute;
    /* bottom: 39rem; */
    left: 60%;
    /* transform: translate(-36%, 230%); */
    transform: translate(-29%, 230%);
    color: white;
}

.evening {
 position: absolute;
    /* bottom: 39rem; */
    left: 44%;
    transform: translate(-88%, 230%);
    opacity: .3;
    color: white;
}

.night {
   position: absolute;
    /* bottom: 123rem; */
    left: 50%;
    transform: translate(-188%, 115%);
     opacity: .3;
     color: white;
}




/* .low-sunrise {
    width: 30px;
    height: 10px;
    background-color: #f67280; comment out the comment to the right Default sun color
    border-radius: 50% 50% 0 0;
    border-bottom:#FFD700;
    position: relative;
     bottom: 183px; comment out
    left: 54%;
    transform: translateX(-55%);
}
.low-sunrise-container {
  width: 50px;
  height: 10px;
  border-bottom: 3px solid #FFD700;
   bottom: 183px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.high-sunrise {
    width: 35px;
    height: 17px;
    background-color: #f67280; comment out the comment to the right Default sun color
    border-radius: 50% 50% 0 0;
    position: relative;
     bottom: 120px; comment out
    left: -9%;
    transform: translateX(34%);
}

.high-sunrise-container {
  width: 50px;
  height: 20px;
  border-bottom: 3px solid #FFD700;
   bottom: 120px;
    left: 50%;
    position: absolute;
    transform: translateX(100%);
}

.sunset {
    width: 50px;
    height: 50px;
    background-color: #FFD700; comment out the comment to the right Default sun color
    border-radius: 50%;
    position: absolute;
    bottom: 39px;
    left: 53%;
    transform: translateX(-175%);
}

.moon {
    width: 50px;
    height: 50px;
    background-color: #FFD700; comment out the comment to the right Default sun color
    border-radius: 50%;
    position: absolute;
    bottom: 123px;
    left: 50%;
    transform: translateX(-175%);
}

.moon-icon{
  color: #FFD700;
} */
