.header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  text-align: center;
  align-content: center;;
}
.header-title {
  font-size: 4rem;
  font-weight: 700;
}
* {
  font-family: 'Hanken Grotesk', sans-serif;
}
.user-image {
   height:250px;
    width:100%;
     object-fit:cover;
   object-position:50% 50%;
}

#time-wrapper {
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 20px;
}

#time-holder {
  margin-top: 10px;
}

#time-holder div {
  margin-bottom: 8px;
}


body {
	background-color: #f5f7fa;
}

.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: 3.25rem;
  border-top-right-radius: 3.25rem;
}

.aqua-gradient {
  background: linear-gradient(40deg, #2096ff, #05ffa3) !important;

}
.day-to-night-gradient {
   background: linear-gradient(40deg, #f8B195, #f67280, #355C7D) !important;
}

.testimonial-card .avatar {
  width: 120px;
  margin-top: -60px;
  overflow: hidden;
  border: 5px solid #fff;
}

.avatar {
 border-radius: 50%;
}

.testimonial-card {
  border-radius: 3.25rem !important;
}

#mst-time, #est-time, #cst-time, #pst-time, #cet-time {
  font-weight: 700;
  font-size: 2.5rem;
  /*with 80 is including the alpha value to make the color opaque */
  background-color: #C06C8480;
  color: #fff;
  /* opacity: .5; */
}

#mst-date, #est-date, #cst-date, #pst-date, #cet-date {
  font-weight: 300;
  font-size: 1.25rem;
}

.day-cycle {
    width: 25%;
    height: 25vh;
    position: relative;
    background-color: #87CEEB; /* Default sky color */
}

.sun {
    width: 50px;
    height: 50px;
    background-color: #FFD700; /* Default sun color */
    border-radius: 50%;
    position: absolute;
    bottom: 39px;
    left: 60%;
    transform: translateX(-55%);
}


.low-sunrise {
    width: 30px;
    height: 10px;
    background-color: #f67280; /* Default sun color */
    border-radius: 50% 50% 0 0;
    border-bottom:#FFD700;
    position: relative;
    /* bottom: 183px; */
    left: 54%;
    transform: translateX(-55%);
}
.low-sunrise-container {
  width: 50px;
  height: 10px;
  border-bottom: 3px solid #FFD700;
   bottom: 183px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.high-sunrise {
    width: 50px;
    height: 20px;
    background-color: #FFD700; /* Default sun color */
    border-radius: 50% 50% 0 0;
    position: absolute;
    bottom: 120px;
    left: 47%;
    transform: translateX(100%);
}

.sunset {
    width: 50px;
    height: 50px;
    background-color: #FFD700; /* Default sun color */
    border-radius: 50%;
    position: absolute;
    bottom: 39px;
    left: 53%;
    transform: translateX(-175%);
}

.moon {
    width: 50px;
    height: 50px;
    background-color: #FFD700; /* Default sun color */
    border-radius: 50%;
    position: absolute;
    bottom: 123px;
    left: 50%;
    transform: translateX(-175%);
}
